// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

.purple-text {
  color: $purple;
}

#number {
  transition: all 2s ease-in-out;
}

.ico {
  font-size: 75px;
}

@media (prefers-color-scheme: dark) {
  .why-us {
    background-color: lighten(rgb(20, 22, 26), 10%);
  }
}

@media (prefers-color-scheme: light) {
  .why-us {
    background-color: darken(rgb(255, 255, 255), 10%);
  }
}
